.future-weather {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    background: #fff;
    left: 0;
     opacity: 1;
    transform: translateY(0);
    z-index: 999999;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.future-weather.hidden {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
}

.future-weather-th {
    width: 100px;
}

.future-weather-body {
    background: #ececec;
}

.future-weather-row {
    padding: 2px 0px;
    height: 22px;
}

.future-weather-row-symbol {
    width: 40px;
    text-align: center;
    display: inline-block;
}

.future-weather-item-category {
    font-size: 12px;
    color: #626060;
    text-align: right;
}

.future-weather-content {
   text-align: center;
}

.future-weather-item-weekday {
    text-align: center;
    border-right: 1px solid #9c9a9a4d;
}

.future-weather-cbody {
    display: flex;
}
.future-weather-scrollable {
    overflow-x: auto;
    overflow-y: hidden;
    flex: 1;
    display: flex;
    padding-right: 16px;
}
.future-weather-column {
    max-width: 60px;
    padding: 0 8px;
    font-size: 14px;
    border: 1px solid #9c9a9a4d;
    border-left: 0;
}

.hide-scrollbar {
 
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE / Edge 旧版 */
}

.future-weather-close {
    position: absolute;
    top: -20px;
    left: 4px;
}