body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#map-container {
 z-index: 0;
}
.search-point {
    position: absolute;
    top: 10px;
    right: 90px;
    z-index: 1;
    opacity: 0.8;
}

#windy #logo-wrapper {
  display: none;
}



#legend-mobile > span:first-of-type {
  /* font-size: 0; */
}

#legend-mobile > span:first-of-type::after {
  /* content:"m/s"; */
  font-size: 12px;
  /* color: #fff; */
}

.App {
  height: 100%;
  background-color: #fff;
}

.popup-content {
  font-weight: 600;
  color: #13ac93;
}

.leaflet-popup {
  width: 228px
}

.right-card-container {
  position: absolute;
  top: 60px;
  left: 20px;
  z-index: 1;
  width: 180px;
  opacity: 0.9;
}
.popup-content-backup {
  color: rgba(97, 98, 96, 0.918);
}

.leaflet-zoom-animated {
  position: relative;
  bottom: 8px !important;
}

.ui-switch.noselect.notap {
  position: relative;
  bottom: 10px;
  left: 38px;
}

#embed-zoom {
  display: none;
}

#mobile-ovr-select {
  padding: 0 !important;
  font-size: 36px;
}
#mobile-ovr-select span {
  display: none;
}

#mobile-ovr-select::before {
  content: "菜单" !important;
  height: 68px !important;
  width: 68px !important;
  line-height: 68px !important;
  font-weight: 900 !important;
  background: #9d0300 !important;
}